body {
    font-family: Helvetica;
}

h1 {
    background-image: url("resources/pattern.jpeg");
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}
h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h3 {
    color: black;
    font-size: 18px;
}

p {
    font-size: 16px;
    font-weight: normal;
    color: black;
}

span {
    font-weight: bold;
    color: blue;
}

#brush {
    background-color: mediumspringgreen;
}

#frame {
    background-color: lightcoral;
}

#paint {
    background-color: skyblue;
}